* {
  margin: 0;
  padding: 0;
}

.header_menu {
  position: fixed;
  width: 100%;
  z-index: 1020;
}
.header_menu .header_burger {
  display: none;
}
.header_menu .navbar_header {
  background: #2d3038;
  position: fixed;
  top: 0px;
  right: -10px;
  width: 30%;
  height: 70px;
}
.header_menu .navbar_header .header_logo {
  position: absolute;
  top: 30%;
  left: 26%;
  color: #fff;
  font-family: 'Monoton', cursive;
  font-size: 20px;
  text-decoration: none;
}
.header_menu .navbar_header .header_logo:hover {
  color: #f0c30f;
}
.header_menu .navbar_header .header_logo span:nth-child(1) {
  padding: 0 5px;
  color: #f0c30f;
  border: 2px solid #f0c30f;
}
.header_menu .navbar_header .logo {
  float: left;
  margin: 2px 20px;
  width: 66px;
  height: 66px;
  border-radius: 50%;
}
.header_menu .navbar_header .logo:hover {
  opacity: 0.7;
}
.header_menu .header_menu_nav {
  position: fixed;
  top: 70px;
  right: 0;
  bottom: 0;
  width: 30%;
}
.header_menu .header_menu_nav .header_menu_ul .menu_item {
  display: block;
  padding: 25px 15px;
  margin-left: 10px;
}
.header_menu .header_menu_nav .header_menu_ul .menu_item:hover {
  margin-left: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.header_menu .header_menu_nav .header_menu_ul .menu_item:nth-child(1) {
  background-color: #f36f03;
}
.header_menu .header_menu_nav .header_menu_ul .menu_item:nth-child(2) {
  background-color: #fe8103;
}
.header_menu .header_menu_nav .header_menu_ul .menu_item:nth-child(3) {
  background-color: #fea700;
}
.header_menu .header_menu_nav .header_menu_ul .menu_item:nth-child(4) {
  background-color: #ffcd98;
}
.header_menu .header_menu_nav .header_menu_ul .menu_item:nth-child(5) {
  background-color: #b98146;
}
.header_menu .header_menu_nav .header_menu_ul .menu_item:nth-child(6) {
  background-color: #5d2904;
}
.header_menu .header_menu_nav .header_menu_ul .menu_item:nth-child(7) {
  background-color: #522609;
}
.header_menu .header_menu_nav .header_menu_ul .menu_item a {
  padding-left: 60px;
  text-decoration: none;
}
.header_menu .header_menu_nav .header_menu_ul .menu_item a span {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.header_menu .header_menu_nav .header_menu_ul .menu_item a span i {
  font-size: 20px;
  position: absolute;
  left: 30px;
}
.header_menu .header_menu_nav .header_menu_ul .active {
  margin-left: 0;
}
.header_menu .header_menu_nav .header_menu_ul .social {
  list-style: none;
  background-color: #261710;
  width: 100%;
  height: 90px;
  margin-left: 10px;
}
.header_menu .header_menu_nav .header_menu_ul .social .list_inline_item {
  padding: 25px 10px 10px 25px;
  text-align: center;
  list-style: none;
}
.header_menu .header_menu_nav .header_menu_ul .social .list_inline_item a {
  padding: 0 10px;
}
.header_menu .header_menu_nav .header_menu_ul .social .list_inline_item a i {
  color: #fff;
  font-size: 20px;
}
.header_menu .header_menu_nav .header_menu_ul .social .list_inline_item a i:hover {
  color: #f0c30f;
}

.home_banner_one {
  position: relative;
  height: 700px;
  background: #eaeaea;
}
.home_banner_one .banner_content {
  background: url("image/bg_image.jpg");
  width: 70%;
  height: 700px;
  background-size: cover;
  background-position: center;
}
.home_banner_one .banner_content .banner_info {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 70%;
  height: 100%;
  margin-top: -70px;
}
.home_banner_one .banner_content .banner_info h1 {
  font-size: 48px;
  color: #2d3038;
  font-family: 'East Sea Dokdo', cursive;
  margin-bottom: 5px;
}
.home_banner_one .banner_content .banner_info h2 {
  font-size: 100px;
  font-family: 'Aclonica', sans-serif;
  color: #2d3038;
  line-height: 90px;
}
.home_banner_one .banner_content .banner_info h2 span {
  margin: 15px;
}
.home_banner_one .banner_content .banner_info h3 {
  margin: 10px 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #2d3038;
  text-transform: uppercase;
  letter-spacing: 28px;
}

.about {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 150px;
}
.about .section_content .about_info {
  padding-bottom: 15px;
}
.about .section_content .about_info p {
  font-family: 'Montserrat', sans-serif;
  color: #2d3038;
  font-weight: 400;
  text-align: justify;
}
.about .section_content address {
  line-height: 35px;
  font-family: 'Montserrat', sans-serif;
  color: #2d3038;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
}
.about .section_content address p {
  margin-bottom: 10px;
  text-decoration: none;
}
.about .section_content address p span {
  font-size: 15px;
  font-weight: 700;
}
.about .section_content .achievement {
  list-style: none;
}
.about .section_content .achievement .achievement_info {
  float: left;
}
.about .section_content .achievement .achievement_info:not(:first-child) {
  margin-left: 30px;
}
.about .section_content .achievement .achievement_info h1 {
  font-family: 'Montserrat', sans-serif;
  color: #2d3038;
  font-weight: 400;
  font-size: 14px;
}
.about .section_content .achievement .achievement_info .counter {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #f26522;
}
.about .section_content .achievement .achievement_info .counter1 {
  color: #873e95;
}
.about .section_content .achievement .achievement_info .counter2 {
  color: #007bff;
}
.about .section_content .achievement .achievement_info .counter3 {
  color: #b90162;
}

.skill {
  width: 100%;
  background: #eaeaea;
  padding-top: 70px;
  padding-bottom: 70px;
}
.skill .section_content .progress_content {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
}
.skill .section_content .progress_content .skills {
  width: 100%;
}
.skill .section_content .progress_content .skills .skills_name {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #2d3038;
  margin: 20px 0 5px 0;
}
.skill .section_content .progress_content .skills .skills_bar {
  height: 10px;
  background: #cacaca;
  border-radius: 8px;
}
.skill .section_content .progress_content .skills .skills_bar .skills_per {
  font-family: 'Montserrat', sans-serif;
  height: 10px;
  background-color: #f36f03;
  border-radius: 8px;
  width: 0;
  -webkit-transition: 1s linear;
  transition: 1s linear;
  position: relative;
}
.skill .section_content .progress_content .skills .skills_bar .skills_per:before {
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background-color: #2d3038;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  top: -35px;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.skill .section_content .progress_content .skills .skills_bar .skills_per:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #2d3038;
  top: -18px;
  right: 0;
  -webkit-transform: translateX(50%) rotate(45deg);
          transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}
.skill .section_content .progress_content .skills .skills_bar .skills_per2 {
  background-color: #fea700;
}
.skill .section_content .progress_content .skills .skills_bar .skills_per3 {
  background-color: #6610f2;
}
.skill .section_content .progress_content .skills .skills_bar .skills_per4 {
  background-color: #28a745;
}
.skill .section_content .progress_content .skills .skills_bar .skills_per5 {
  background-color: #007bff;
}
.skill .section_content .progress_content .skills .skills_bar .skills_per6 {
  background-color: #ed1c24;
}
.skill .section_content .chart {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
}
.skill .section_content .chart .chart_info {
  list-style: none;
  padding-top: 10px;
  text-align: center;
}
.skill .section_content .chart .chart_info .percent {
  display: inline-block;
  width: 110px;
  height: 110px;
  line-height: 110px;
  border-radius: 50%;
  background-color: #ed1c24;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}
.skill .section_content .chart .chart_info .percent1 {
  background-color: #28a745;
}
.skill .section_content .chart .chart_info .percent2 {
  background-color: #fea700;
}
.skill .section_content .chart .chart_info h5 {
  padding-top: 10px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #2d3038;
  font-weight: 400;
  font-size: 14px;
}

.education {
  width: 100%;
  background: #fff;
  padding-top: 70px;
  padding-bottom: 70px;
}
.education .section_content .education_info {
  height: 192px;
}
.education .section_content .education_info img {
  float: left;
  margin: 15px 10px 15px 0;
  max-width: 100%;
  height: auto;
}
.education .section_content .education_info h3 {
  margin-top: 15px;
  font-family: 'Montserrat', sans-serif;
  color: #2d3038;
  font-weight: 700;
  font-size: 28px;
}
.education .section_content .education_info h5 {
  line-height: 10px;
  margin: 10px 0;
  font-family: 'Montserrat', sans-serif;
  color: #2d3038;
  font-weight: 700;
  font-size: 18px;
}
.education .section_content .education_info p {
  margin: 20px 0;
  font-family: 'Montserrat', sans-serif;
  color: #2d3038;
  font-size: 22px;
}
.education .section_content .educin_1 {
  height: 140px;
}
.education .section_content hr {
  color: #2d3038;
}

.portfolio {
  width: 100%;
  background: #eaeaea;
  padding-top: 70px;
  padding-bottom: 70px;
}
.portfolio .section_content .portfolio_content {
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
  display: grid;
}
.portfolio .section_content .portfolio_content .portfolio_item {
  position: relative;
  margin: 15px auto;
}
.portfolio .section_content .portfolio_content .portfolio_item:hover .portfolio_overlay {
  display: block;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.portfolio .section_content .portfolio_content .portfolio_item img {
  width: 100%;
  height: auto;
}
.portfolio .section_content .portfolio_content .portfolio_item .portfolio_overlay {
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background-color: #eaeaea;
}
.portfolio .section_content .portfolio_content .portfolio_item .portfolio_overlay .portfolio_info {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}
.portfolio .section_content .portfolio_content .portfolio_item .portfolio_overlay .portfolio_info h3 {
  text-transform: uppercase;
  font-family: 'Aclonica', sans-serif;
  font-size: 22px;
  color: #2d3038;
  margin-top: 5px;
  margin-bottom: 10px;
  height: 50px;
}
.portfolio .section_content .portfolio_content .portfolio_item .portfolio_overlay .portfolio_info .button {
  width: 120px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  color: #fff;
  border: 1px solid #5d2904;
  border-radius: 2px;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #fff), color-stop(50%, #5d2904));
  background: linear-gradient(to right, #fff 50%, #5d2904 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}
.portfolio .section_content .portfolio_content .portfolio_item .portfolio_overlay .portfolio_info .button:hover {
  background-position: left bottom;
}
.portfolio .section_content .portfolio_content .portfolio_item .portfolio_overlay .portfolio_info .button .btn_pb {
  padding: 10px 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  -webkit-transition: all .6s ease-out;
  transition: all .6s ease-out;
  display: block;
}
.portfolio .section_content .portfolio_content .portfolio_item .portfolio_overlay .portfolio_info .button .btn_pb:hover {
  color: #2d3038;
}

.contact_me {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}
.contact_me .section_content .adress ul {
  list-style: none;
}
.contact_me .section_content .adress ul li {
  padding: 20px;
  border-bottom: 1px solid #f1f1f1;
}
.contact_me .section_content .adress ul li .icon {
  float: left;
  font-size: 36px;
  margin: 10px 30px 0 0;
  color: #f4bf00;
}
.contact_me .section_content .adress ul li .icon2 {
  color: #3c70b4;
}
.contact_me .section_content .adress ul li .icon3 {
  color: #b90162;
}
.contact_me .section_content .adress ul li .icon4 {
  color: #05ac80;
}
.contact_me .section_content .adress ul li h3 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #2d3038;
  font-weight: 700;
  font-size: 28px;
  line-height: 20px;
}
.contact_me .section_content .adress ul li p {
  height: 30px;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  color: #2d3038;
  font-size: 16px;
}
.contact_me .section_content .adress ul li .social li {
  padding: 5px;
  display: inline-block;
  margin-right: 10px;
  font-size: 18px;
  border-bottom: none;
}
.contact_me .section_content .adress ul li .social li a {
  color: #000;
}
.contact_me .section_content .adress ul li .social li a i:hover {
  color: #f0c30f;
}
.contact_me .section_content .text_contact {
  padding: 20px 20px;
}
.contact_me .section_content .text_contact .icon_contact {
  float: left;
  font-size: 40px;
  margin: 15px 25px 0 0;
  color: #87c05e;
}
.contact_me .section_content .text_contact h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #2d3038;
}
.contact_me .section_content .text_contact .contact_container {
  width: 100%;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
}
.contact_me .section_content .text_contact .contact_container .contact_form {
  position: relative;
  width: 100%;
  display: grid;
}
.contact_me .section_content .text_contact .contact_container .contact_form .form_group, .contact_me .section_content .text_contact .contact_container .contact_form .textarea {
  position: relative;
  width: 100%;
  margin: 25px 0 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.contact_me .section_content .text_contact .contact_container .contact_form .form_group .form_box, .contact_me .section_content .text_contact .contact_container .contact_form .textarea .form_box {
  position: relative;
  width: 100%;
  height: 40px;
  color: #5d2904;
}
.contact_me .section_content .text_contact .contact_container .contact_form .form_group .form_box input, .contact_me .section_content .text_contact .contact_container .contact_form .form_group .form_box textarea, .contact_me .section_content .text_contact .contact_container .contact_form .textarea .form_box input, .contact_me .section_content .text_contact .contact_container .contact_form .textarea .form_box textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #fff;
}
.contact_me .section_content .text_contact .contact_container .contact_form .form_group .form_box input:focus + .text, .contact_me .section_content .text_contact .contact_container .contact_form .form_group .form_box input:valid + .text, .contact_me .section_content .text_contact .contact_container .contact_form .form_group .form_box textarea:focus + .text, .contact_me .section_content .text_contact .contact_container .contact_form .form_group .form_box textarea:valid + .text, .contact_me .section_content .text_contact .contact_container .contact_form .textarea .form_box input:focus + .text, .contact_me .section_content .text_contact .contact_container .contact_form .textarea .form_box input:valid + .text, .contact_me .section_content .text_contact .contact_container .contact_form .textarea .form_box textarea:focus + .text, .contact_me .section_content .text_contact .contact_container .contact_form .textarea .form_box textarea:valid + .text {
  top: -35px;
  left: -10px;
}
.contact_me .section_content .text_contact .contact_container .contact_form .form_group .form_box input:focus ~ .line, .contact_me .section_content .text_contact .contact_container .contact_form .form_group .form_box input:valid ~ .line, .contact_me .section_content .text_contact .contact_container .contact_form .form_group .form_box textarea:focus ~ .line, .contact_me .section_content .text_contact .contact_container .contact_form .form_group .form_box textarea:valid ~ .line, .contact_me .section_content .text_contact .contact_container .contact_form .textarea .form_box input:focus ~ .line, .contact_me .section_content .text_contact .contact_container .contact_form .textarea .form_box input:valid ~ .line, .contact_me .section_content .text_contact .contact_container .contact_form .textarea .form_box textarea:focus ~ .line, .contact_me .section_content .text_contact .contact_container .contact_form .textarea .form_box textarea:valid ~ .line {
  height: 100%;
}
.contact_me .section_content .text_contact .contact_container .contact_form .form_group .form_box .text, .contact_me .section_content .text_contact .contact_container .contact_form .textarea .form_box .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.contact_me .section_content .text_contact .contact_container .contact_form .form_group .form_box .line, .contact_me .section_content .text_contact .contact_container .contact_form .textarea .form_box .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #5d2904;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 2px;
}
.contact_me .section_content .text_contact .contact_container .contact_form .form_group .textarea, .contact_me .section_content .text_contact .contact_container .contact_form .textarea .textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}
.contact_me .section_content .text_contact .contact_container .contact_form .form_group .textarea textarea, .contact_me .section_content .text_contact .contact_container .contact_form .textarea .textarea textarea {
  height: 100%;
  resize: none;
}
.contact_me .section_content .text_contact .contact_container .contact_form .form_group .textarea textarea:focus + .text, .contact_me .section_content .text_contact .contact_container .contact_form .form_group .textarea textarea:valid + .text, .contact_me .section_content .text_contact .contact_container .contact_form .textarea .textarea textarea:focus + .text, .contact_me .section_content .text_contact .contact_container .contact_form .textarea .textarea textarea:valid + .text {
  top: -35px;
  left: -10px;
}
.contact_me .section_content .text_contact .contact_container .contact_form .form_group .textarea textarea:focus ~ .line, .contact_me .section_content .text_contact .contact_container .contact_form .form_group .textarea textarea:valid ~ .line, .contact_me .section_content .text_contact .contact_container .contact_form .textarea .textarea textarea:focus ~ .line, .contact_me .section_content .text_contact .contact_container .contact_form .textarea .textarea textarea:valid ~ .line {
  height: 100%;
}
.contact_me .section_content .text_contact .contact_container .contact_form .form_group .button, .contact_me .section_content .text_contact .contact_container .contact_form .textarea .button {
  float: right;
  cursor: pointer;
  color: #fff;
  border: 1px solid #5d2904;
  border-radius: 2px;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #fff), color-stop(50%, #5d2904));
  background: linear-gradient(to right, #fff 50%, #5d2904 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}
.contact_me .section_content .text_contact .contact_container .contact_form .form_group .button:hover, .contact_me .section_content .text_contact .contact_container .contact_form .textarea .button:hover {
  background-position: left bottom;
}
.contact_me .section_content .text_contact .contact_container .contact_form .form_group .button .btn_fg, .contact_me .section_content .text_contact .contact_container .contact_form .textarea .button .btn_fg {
  padding: 12px 35px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  -webkit-transition: all .6s ease-out;
  transition: all .6s ease-out;
  display: block;
}
.contact_me .section_content .text_contact .contact_container .contact_form .form_group .button .btn_fg:hover, .contact_me .section_content .text_contact .contact_container .contact_form .textarea .button .btn_fg:hover {
  color: #2d3038;
}
.contact_me .section_content .text_contact .contact_container .contact_form_first {
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
  display: grid;
}

.my_resyme {
  width: 100%;
  background: #eaeaea;
  padding-top: 10px;
  padding-bottom: 150px;
}
.my_resyme .section_content .button {
  float: left;
  margin-top: 40px;
  border: 1px solid #5d2904;
  border-radius: 3px;
  color: #fff;
  display: block;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #fff), color-stop(50%, #5d2904));
  background: linear-gradient(to right, #fff 50%, #5d2904 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}
.my_resyme .section_content .button:hover {
  background-position: left bottom;
}
.my_resyme .section_content .button .btn_mr {
  padding: 15px 40px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  -webkit-transition: all .6s ease-out;
  transition: all .6s ease-out;
  display: block;
}
.my_resyme .section_content .button .btn_mr:hover {
  color: #2d3038;
}

.footer {
  background-color: #261710;
  width: 100%;
  height: 90px;
  position: relative;
}
.footer span {
  position: absolute;
  top: 40%;
  left: 10%;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.about .section_content, .skill .section_content, .education .section_content, .portfolio .section_content, .contact_me .section_content, .my_resyme .section_content {
  position: relative;
  left: 5%;
  width: 60%;
}
.about .section_content .section_title h1, .skill .section_content .section_title h1, .education .section_content .section_title h1, .portfolio .section_content .section_title h1, .contact_me .section_content .section_title h1, .my_resyme .section_content .section_title h1 {
  margin-top: 20px;
  font-size: 56px;
  font-family: 'Aclonica', sans-serif;
  color: #2d3038;
}
.about .section_content .section_title h4, .skill .section_content .section_title h4, .education .section_content .section_title h4, .portfolio .section_content .section_title h4, .contact_me .section_content .section_title h4, .my_resyme .section_content .section_title h4 {
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #2d3038;
  font-weight: 700;
  letter-spacing: 8px;
}
.about .section_content .text_info h4, .skill .section_content .text_info h4, .education .section_content .text_info h4, .portfolio .section_content .text_info h4, .contact_me .section_content .text_info h4, .my_resyme .section_content .text_info h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #2d3038;
}
.about .section_content .text_info p, .skill .section_content .text_info p, .education .section_content .text_info p, .portfolio .section_content .text_info p, .contact_me .section_content .text_info p, .my_resyme .section_content .text_info p {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
  color: #2d3038;
  text-align: justify;
}

.about .section_content .about_info .signature, .my_resyme .section_content .about_info .signature {
  padding-top: 20px;
  color: #2d3038;
  font-family: 'Monoton', cursive;
  font-size: 35px;
  text-decoration: none;
}
.about .section_content .about_info .signature span:nth-child(1), .my_resyme .section_content .about_info .signature span:nth-child(1) {
  padding: 0 5px;
  color: #f0c30f;
  border: 2px solid #f0c30f;
}

.about .section_content address .mobile, .about .section_content .adress .mobile, .contact_me .section_content address .mobile, .contact_me .section_content .adress .mobile {
  text-decoration: none;
  color: #2d3038;
}

@media screen and (max-width: 1240px) {
  .header_menu .navbar_header .header_logo {
    left: 32%;
  }

  .home_banner_one .banner_content .banner_info h1 {
    font-size: 42px;
  }
  .home_banner_one .banner_content .banner_info h2 {
    font-size: 88px;
    line-height: 80px;
  }
  .home_banner_one .banner_content .banner_info h3 {
    font-size: 14px;
    letter-spacing: 25px;
  }
}
@media screen and (max-width: 1100px) {
  .header_menu .navbar_header .header_logo {
    left: 38%;
  }

  .home_banner_one .banner_content .banner_info {
    left: 8%;
    top: 53%;
  }
  .home_banner_one .banner_content .banner_info h1 {
    font-size: 36px;
  }
  .home_banner_one .banner_content .banner_info h2 {
    font-size: 80px;
    line-height: 70px;
  }
  .home_banner_one .banner_content .banner_info h3 {
    font-size: 12px;
    letter-spacing: 20px;
  }

  .about .section_content .achievement .achievement_info:not(:first-child) {
    margin-left: 20px;
  }
}
@media screen and (max-width: 990px) {
  .home_banner_one .banner_content .banner_info {
    top: 60%;
  }
  .home_banner_one .banner_content .banner_info h1 {
    font-size: 32px;
  }
  .home_banner_one .banner_content .banner_info h2 {
    font-size: 68px;
    line-height: 58px;
  }
  .home_banner_one .banner_content .banner_info h3 {
    letter-spacing: 18px;
  }

  .about .section_content .achievement .achievement_info:not(:first-child) {
    margin-left: 10px;
  }
}
@media screen and (max-width: 860px) {
  .lock {
    overflow: hidden;
  }

  .header_menu .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    right: 25px;
    top: 25px;
    float: right;
    z-index: 3;
    cursor: pointer;
  }
  .header_menu .header_burger:before, .header_menu .header_burger:after {
    content: '';
    background-color: #f0c30f;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  .header_menu .header_burger span {
    background-color: #f0c30f;
    position: absolute;
    width: 80%;
    height: 2px;
    left: 5px;
    top: 9px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  .header_menu .header_burger:before {
    top: 0;
  }
  .header_menu .header_burger:after {
    bottom: 0;
  }
  .header_menu .active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header_menu .active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header_menu .active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header_menu .navbar_header {
    width: 100%;
    right: 0;
  }
  .header_menu .navbar_header .header_logo {
    left: 15%;
  }
  .header_menu .header_menu_nav {
    width: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s easy;
    transition: -webkit-transform 0.5s easy;
    transition: transform 0.5s easy;
    transition: transform 0.5s easy, -webkit-transform 0.5s easy;
    overflow-y: auto;
  }
  .header_menu .header_menu_nav.active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .header_menu .header_menu_nav .header_menu_ul {
    text-align: center;
  }
  .header_menu .header_menu_nav .header_menu_ul .menu_item {
    float: none;
    display: block;
    margin-left: 0;
  }
  .header_menu .header_menu_nav .header_menu_ul .menu_item a {
    padding-left: 0;
  }
  .header_menu .header_menu_nav .header_menu_ul .menu_item a span i {
    display: none;
  }
  .header_menu .header_menu_nav .header_menu_ul .social {
    margin-left: 0;
  }
  .header_menu .header_menu_nav .header_menu_ul .social span {
    display: inline;
  }

  .home_banner_one .banner_content {
    width: 100%;
  }
  .home_banner_one .banner_content .banner_info {
    left: 5%;
    width: 85%;
    top: 100%;
    margin-top: -200px;
  }

  .about .section_content .achievement .achievement_info:not(:first-child) {
    margin-left: 30px;
  }

  .skill .section_content .chart .chart_info .percent {
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 30px;
  }

  .education .section_content .education_info h3 {
    font-size: 25px;
  }
  .education .section_content .education_info h5 {
    font-size: 16px;
  }
  .education .section_content .education_info p {
    font-size: 20px;
  }

  .contact_me .section_content .adress ul li {
    padding: 15px;
  }
  .contact_me .section_content .text_contact {
    padding: 0 15px;
  }
  .contact_me .section_content .text_contact .icon_contact {
    margin-top: 0;
  }

  .about .section_content, .skill .section_content, .education .section_content, .portfolio .section_content, .contact_me .section_content, .my_resyme .section_content {
    width: 90%;
  }
  .about .section_content .section_title h1, .skill .section_content .section_title h1, .education .section_content .section_title h1, .portfolio .section_content .section_title h1, .contact_me .section_content .section_title h1, .my_resyme .section_content .section_title h1 {
    font-size: 50px;
  }
  .about .section_content .section_title h4, .skill .section_content .section_title h4, .education .section_content .section_title h4, .portfolio .section_content .section_title h4, .contact_me .section_content .section_title h4, .my_resyme .section_content .section_title h4 {
    font-size: 12px;
  }
  .about .section_content .text_info h4, .skill .section_content .text_info h4, .education .section_content .text_info h4, .portfolio .section_content .text_info h4, .contact_me .section_content .text_info h4, .my_resyme .section_content .text_info h4 {
    font-size: 22px;
  }
}
@media screen and (max-width: 730px) {
  .home_banner_one .banner_content .banner_info h1 {
    font-size: 26px;
  }
  .home_banner_one .banner_content .banner_info h2 {
    font-size: 54px;
    line-height: 42px;
  }
  .home_banner_one .banner_content .banner_info h2 span {
    margin: 0;
  }
  .home_banner_one .banner_content .banner_info h3 {
    font-size: 10px;
    letter-spacing: 13px;
  }

  .about {
    padding-bottom: 40px;
  }
  .about .section_content .achievement {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
  }
  .about .section_content .achievement .achievement_info:not(:first-child) {
    margin-left: 0;
  }

  .skill .section_content .progress_content {
    display: block;
  }
  .skill .section_content .chart .chart_info .percent {
    width: 85px;
    height: 85px;
    line-height: 85px;
    font-size: 27px;
  }

  .footer {
    height: 70px;
  }
  .footer span {
    font-size: 14px;
  }
}
@media screen and (max-width: 690px) {
  .header_menu .navbar_header .header_logo {
    left: 20%;
  }

  .education .section_content .education_info {
    height: auto;
  }
  .education .section_content .education_info img {
    float: none;
  }

  .contact_me .section_content .adress ul li h3 {
    font-size: 22px;
  }
  .contact_me .section_content .adress ul li p {
    font-size: 14px;
  }
  .contact_me .section_content .text_contact h4 {
    font-size: 22px;
    line-height: 40px;
  }
  .contact_me .section_content .text_contact .contact_container .contact_form .form_group .button .btn_fg {
    font-size: 16px;
  }
  .contact_me .section_content .text_contact .contact_container .contact_form_first {
    grid-template-columns: auto;
  }

  .my_resyme {
    padding-bottom: 70px;
  }
  .my_resyme .section_content .button {
    float: none;
  }
  .my_resyme .section_content .button .btn_mr {
    font-size: 16px;
    padding: 15px 35px;
  }

  .footer {
    margin-top: 0;
  }

  .about .section_content .section_title h1, .skill .section_content .section_title h1, .education .section_content .section_title h1, .portfolio .section_content .section_title h1 {
    font-size: 46px;
  }
}
@media screen and (max-width: 500px) {
  .header_menu .navbar_header .header_logo {
    left: 25%;
  }

  .portfolio .section_content .portfolio_content {
    grid-template-columns: auto;
    grid-column-gap: 20px;
    display: grid;
  }

  .contact_me .section_content .adress ul li {
    padding: 10px;
  }
  .contact_me .section_content .adress ul li h3 {
    font-size: 18px;
    line-height: 10px;
  }
  .contact_me .section_content .adress ul li .social li {
    font-size: 12px;
  }
  .contact_me .section_content .text_contact {
    padding-left: 10px;
  }
  .contact_me .section_content .text_contact h4 {
    font-size: 18px;
  }
  .contact_me .section_content .text_contact .contact_container .contact_form .form_group .button .btn_fg {
    font-size: 14px;
    padding: 10px 30px;
  }

  .my_resyme .section_content .button {
    float: none;
  }
  .my_resyme .section_content .button .btn_mr {
    font-size: 14px;
    padding: 12px 30px;
  }
}
@media screen and (max-width: 425px) {
  .header_menu .navbar_header .header_logo {
    left: 32%;
  }

  .home_banner_one .banner_content .banner_info h1 {
    font-size: 25px;
  }
  .home_banner_one .banner_content .banner_info h2 {
    font-size: 42px;
    line-height: 40px;
  }
  .home_banner_one .banner_content .banner_info h3 {
    font-size: 11px;
    letter-spacing: 12px;
  }

  .skill .section_content .chart .chart_info .percent {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 26px;
  }

  .education .section_content .education_info h3 {
    font-size: 22px;
  }
  .education .section_content .education_info h5 {
    font-size: 14px;
  }
  .education .section_content .education_info p {
    font-size: 16px;
  }

  .my_resyme .section_content .button {
    float: none;
  }
  .my_resyme .section_content .button .btn_mr {
    font-size: 13px;
    padding: 10px 25px;
  }

  .footer span {
    font-size: 12px;
  }

  .about .section_content .section_title h1, .skill .section_content .section_title h1, .education .section_content .section_title h1, .portfolio .section_content .section_title h1, .contact_me .section_content .section_title h1 {
    font-size: 36px;
  }
  .about .section_content .section_title h4, .skill .section_content .section_title h4, .education .section_content .section_title h4, .portfolio .section_content .section_title h4, .contact_me .section_content .section_title h4 {
    font-size: 10px;
  }
}
